header {
  margin-bottom: 0%;
}

footer {
  width: 100%;
  padding: 10% 0 10%;
  background: #131313;
  background-size: auto;
}

.copyright_area a {
  padding-right: 2%;
}

section {
  padding-top: 5%;
  padding-bottom: 5%;
}

body, input, select, textarea, button, th, td {
  font-family: 'Arial', SimSun, sans-serif, 'Apple SD Gothic Neo';
  font-size: 12px;
  color: #555;
}

main {
  margin-top: 0;
}

h1, h2 {
  display: inline-block;
}

a {
  color: #555;
  cursor: pointer;
  margin-right: 16px;
  text-decoration: none;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#content h1 {
  align: center;
}


/* Bigger than 750 */
@media (min-width: 750px) {
  .inner img{
    height: 3rem;
    width: auto;
  }

  .inner > .title_img{
    text-align: left;
    height: 4rem;
    margin-bottom: 1rem;
  }
}

.visual_title a img{
  width: auto;
  height: auto;
}

.main_visual_area .visual_title {
  position: absolute;
  bottom: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 2;
  width: 28.1%;
  height: 18%;
  background: url("/public/img/title_img.png") no-repeat;
  background-size: 100%;
}


.foot_wrap .inner2 .social_area {
  margin-bottom: 7%;
}

.foot_wrap .inner2 .copyright_area .copyright {
  margin-bottom: 3%;
}

.foot_wrap .inner2 .copyright_area {
  line-height: 16px;
}


.foot_wrap .inner2 .copyright_area a {
  display: inline-block;
  border-right: 1px solid #808080;
}

.foot_wrap .inner2 .copyright_area a:last-child {
  border-right: none;
}

.inner {
  margin-left: 5%;
}


.inner2 {
  margin-left: 5%;
}

main #content {
  margin: 0;
}

#content {
  margin-bottom: 5%;
}

.blind {
  display: none;
}
