.navbar {
  height: 6%;
  margin-top: 0.3%;
  padding-bottom: 0.3%;
  border-bottom: 1px solid #d8d8d8;
}

.navbar a{
  font-size: 10px;
}

/* Bigger than 550 */
@media (min-width: 550px) {

  .navbar a{
    font-size: 14px;
  }
}

.gnb_wrap {
  height: 5%;
  background-color: transparent;

  padding-top: 1%;
  margin-bottom: 1%;

  z-index: 5;
  vertical-align: middle;
}

.gnb_wrap a {
  color: #333;
}

.gnb_wrap .inner {
  height: 10%;
}

.gnb_wrap .inner .title_img {
  display: inline-block;
  position: absolute;
  z-index: 6;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.logo {
  width: 20%;
}

.navigation {
  margin: 0 0 0 20%;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  float: right;
}


.top_wrap .inner2 .communication_area {
  float: left;
}

.top_wrap .inner2 .social_area {
  float: right;
}

.top_wrap .inner2 {
  width: auto;
}


.top_wrap {
  height: 5%;
  background-color: #000f;
}

.top_wrap a {
  color: #a8a8a8;
}

.social_area {

}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {

}
