{{set . "title" "This is Disaster - Community"}}

<!DOCTYPE html>
<html lang="ko">
<head>
  {{template "partials/head.html" .}}

  <link rel="stylesheet" href="/public/css/community.css">
</head>
<body>
  <div id="wrap" class="main" role="toolbar">
    <header id="header" class role="banner">
      {{template "partials/header.html" .}}
    </header>

    <main id="content" role="main">
      <section class="test">
        <div class="container">
          <h1>Community</h1>
        </div>
      </section>

      <section class="test">
        <div class="container">
          <h2>
            커뮤니티 없어요
          </h2>
        </div>
      </section>
    </main>

    <footer>
      {{template "partials/footer.html" .}}
    </footer>
  </div>
</body>
</html>
