{{set . "title" "This is Disaster - Home"}}

<!DOCTYPE html>
<html lang="ko">
<head>
  {{template "partials/head.html" .}}

  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.0.0/firebaseui.css" />
  <script src="https://cdn.firebase.com/libs/firebaseui/3.0.0/firebaseui.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDfMmE9lSlx5qkWErWvPaz-uWyv51Z3r_c",
      authDomain: "thisisdisaster-204407.firebaseapp.com",
      databaseURL: "https://thisisdisaster-204407.firebaseio.com",
      projectId: "thisisdisaster-204407",
      storageBucket: "thisisdisaster-204407.appspot.com",
      messagingSenderId: "791663390275"
    };
    firebase.initializeApp(config);
  </script>
</head>
<body>
  <div id="wrap" class="main" role="toolbar">
    <header id="header" class role="banner">
      {{template "partials/header.html" .}}
    </header>


    <main id="content" role="main">
      <h1 class="blind">This is Disaster MAIN</h1>

      <section class="release_area">
        <div class="container">
          <div>
            <h3 class="hero_heading">
              베타 서비스
            </h3>
            <p class="section_description">
              지금, This is Disaster를 시작하세요!
            </p>
          </div>
          <a class="button" href="https://www.dropbox.com/sh/z1use0h3yodgtk6/AACoqcjWTSXxj9TKG_JLmLCfa/2018/This%20is%20Disaster/release?dl=0">
            TID 시작하기
          </a>
        </div>
      </section>


      <section class="member_area">
        <div class="container">
          <div id="firebaseui-auth-container">
            <div id="sign-in-status"></div>
            <div id="sign-in"></div>
            <div id="account-details"></div>
          </div>
        </div>
      </section>

      <section class="main_visual_area">
        <div class="container">
          <h2 class="visual_title">
            <a href="/">
              <!--This is Disaster-->
            </a>
          </h2>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="phone" src="/public/img/shelter.gif">
              </div>
              <div class="swiper-slide">
                <img class="phone" src="/public/img/inventory.PNG">
              </div>
              <div class="swiper-slide">
                <img class="phone" src="/public/img/desert.PNG">
              </div>
              <div class="swiper-slide">
                <img class="phone" src="/public/img/snowy_trees.PNG">
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-black"></div>
           <!-- Add Arrows -->
            <div class="swiper-button-next  swiper-button-black"></div>
            <div class="swiper-button-prev  swiper-button-black"></div>
          </div>
        </div>
      </section>

      <section class="plusfriend_area">
        <div class="container">
          <div>
            <h3 class="hero_heading">플러스친구</h3>
            <p class="section_description">카카오톡에서 친구추가하고 게임에 대한 의견을 보내주세요.</p>
          </div>
          <div class="help_img">
            <img class="plusfriend_img" src="/public/img/plusfriend.png" alt="">
          </div>
          <div>
            <a class="button" href="http://pf.kakao.com/_FqaeC">
              카카오톡 친구추가
            </a>
          </div>
        </div>
      </section>

      <section class="feedback_area">
        <div class="container">
          <div>
            <h3 class="hero_heading">문의하기</h3>
            <form class="feedback_form" id="feedback_form" onsubmit="submitFeedback(); return false;" autocomplete="off">
              <div class="row">
                <div class="six columns">
                  <input class="u-full-width" type="text" placeholder="제목" id="title" name="title">
                </div>
                <div class="six columns">
                  <input class="u-full-width" type="email" placeholder="회신 메일" id="email" name="email">
                </div>
              </div>
              <textarea class="u-full-width" placeholder="TID에 대해 자유롭게 말씀해주세요." id="content" name="content"></textarea>
              <input class="button" type="submit" form="feedback_form" value="전송">
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer>
      {{template "partials/footer.html" .}}
    </footer>
  </div>
  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
  <script src="/public/js/index.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    })

    // FirebaseUI config.
    var uiConfig = {
      signInSuccessUrl: 'http://localhost:9000',
      signInFlow: 'popup',
      signInOptions: [
        // Leave the lines as is for the providers you want to offer your users.
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        firebase.auth.FacebookAuthProvider.PROVIDER_ID,
        firebase.auth.EmailAuthProvider.PROVIDER_ID
      ],
      // Terms of service url.
      tosUrl: 'http://localhost:9000/service'
    };

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);

    LoadApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var phoneNumber = user.phoneNumber;
            var providerData = user.providerData;
            user.getIdToken().then(function(accessToken) {
              /*
              document.getElementById('sign-in-status').textContent = 'Signed in';
              document.getElementById('sign-in').textContent = 'Sign out';
              document.getElementById('account-details').textContent = JSON.stringify({
                displayName: displayName,
                email: email,
                emailVerified: emailVerified,
                phoneNumber: phoneNumber,
                photoURL: photoURL,
                uid: uid,
                accessToken: accessToken,
                providerData: providerData
              }, null, '  ');
              */
            });
          } else {
            /*
            // User is signed out.
            document.getElementById('sign-in-status').textContent = 'Signed out';
            document.getElementById('sign-in').textContent = 'Sign in';
            document.getElementById('account-details').textContent = 'null';
            */
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        LoadApp()
      });

  </script>
  <script type="text/javascript">

  </script>
</body>
</html>
