{{set . "title" "This is Disaster - Media"}}

<!DOCTYPE html>
<html lang="ko">
<head>
  {{template "partials/head.html" .}}

  <link rel="stylesheet" href="/public/css/media.css">
</head>
<body>
  <div id="wrap" class="main" role="toolbar">
    <header id="header" class role="banner">
      {{template "partials/header.html" .}}
    </header>

    <main id="content" role="main">
      <section class="images">
        <div class="container">
          <div>
            <h1>Media</h1>
          </div>
          <div class="content-list">
            <div class="content-imgs" id="content-imgs">
              <div class="square" id="square">
                <div class="content">
                  <img src="/public/img/character.PNG">
                </div>
              </div>
              <div class="square" id="square">
                <div class="content">
                  <img src="/public/img/desert.PNG">
                </div>
              </div>
              <div class="square" id="square">
                <div class="content">
                  <img src="/public/img/inventory.PNG">
                </div>
              </div>
              <div class="square" id="square">
                <div class="content">
                  <img src="/public/img/kill_monster.gif">
                </div>
              </div>
              <div class="square" id="square">
                <div class="content">
                  <img src="/public/img/shelter.gif">
                </div>
              </div>
              <div class="square" id="square">
                <div class="content">
                  <img src="/public/img/snowy_trees.PNG">
                </div>
              </div>
            </div>
            <div style="height:20px;">
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      {{template "partials/footer.html" .}}
    </footer>
  </div>
</body>
</html>
