{{set . "title" "This is Disaster - Admin"}}

<!DOCTYPE html>
<html lang="ko">
<head>
  {{template "partials/head.html" .}}

  <link rel="stylesheet" href="/public/css/admin/index.css">
</head>
<body>
  <div id="wrap" class="main" role="toolbar">
    <header id="header" class role="banner">
      {{template "partials/header.html" .}}
    </header>

    <main id="content" role="main">
      <section class="lobby">
        <div class="container">
          <h1>MultiPlayLobby</h1>
        </div>
      </section>

      <section class="test">
        <div class="container">

          <div class="button" onclick="submitMatching()">
            Matching
          </div>
          <div class="button" onclick="getMatching()">
            Load
          </div>
        </div>
      </section>
    </main>

    <footer>
      {{template "partials/footer.html" .}}
    </footer>
  </div>
  <script>


  var submitMatching = function(){
    console.log("submitMatching");
      var httpRequest;
      if (window.XMLHttpRequest) { // 모질라, 사파리등 그외 브라우저, ...
          httpRequest = new XMLHttpRequest();
      } else if (window.ActiveXObject) { // IE 8 이상
          httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
      }
      httpRequest.onreadystatechange = function(){
          if (httpRequest.readyState == 4 && httpRequest.status == 200){
              var resultJson = JSON.parse(httpRequest.responseText);
              if(resultJson.result_code == 200){
                console.log(resultJson)
                  alert(resultJson);
              }else{
                  alert('피드백 전송에 실패하였습니다.');
              }
          }
      };

      httpRequest.open('POST', location.origin + '/api/game/multiplay', true);
      httpRequest.setRequestHeader("Content-type", "application/json");
      httpRequest.send();
  }

  var getMatching = function(){
    console.log("getMatching");
      var httpRequest;
      if (window.XMLHttpRequest) { // 모질라, 사파리등 그외 브라우저, ...
          httpRequest = new XMLHttpRequest();
      } else if (window.ActiveXObject) { // IE 8 이상
          httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
      }
      httpRequest.onreadystatechange = function(){
          if (httpRequest.readyState == 4 && httpRequest.status == 200){
              var resultJson = JSON.parse(httpRequest.responseText);
              if(resultJson.result_code == 200){
                console.log(resultJson)
                  alert(resultJson);
              }else{
                  alert('피드백 전송에 실패하였습니다.');
              }
          }
      };

      httpRequest.open('GET', location.origin + '/api/game/multiplay/lobby', true);
      httpRequest.setRequestHeader("Content-type", "application/json");
      httpRequest.send();
  }

  </script>
</body>
</html>
